section.core__photos.parallax
  .core__photos__photo1.appear
    .core__photos__interior__x
      +icon('progressive-ornament')
    .core__photos__photo1__wrap
      +responsiveImage(media.imgDiscussion1, '40vw', 'Developer discussion', {loading: 'lazy'})
    .circle.parallax.appear
  .core__photos__photo2.appear
    .core__photos__photo2__wrap
      +responsiveImage(media.imgInterior, '56vw', 'Standing desk, wood', {loading: 'lazy'})
  .core__photos__photo3.appear
    .square-blue
    .core__photos__photo3__wrap
      +responsiveImage(media.imgDiscussion2, '48vw', 'Project discussion', {loading: 'lazy'})
    .square-yellow