section.core__photos
  .core__photos__sascha-dean.parallax.appear(data-appear-visibility=0.01)
    +responsiveVideo(media.videoSaschaDean, videoAttrInlineVideo)
  .core__photos__interior1.parallax.appear(data-appear-visibility=0.01)
    +responsiveImage(media.imgInterior1, '55vw', 'Corporate Meeting', {loading: 'lazy'})
  .core__photos__gavin.parallax.appear(data-appear-visibility=0.01)
    +responsiveVideo(media.videoGavin, videoAttrInlineVideo)
  .core__photos__natalie.parallax.appear(data-appear-visibility=0.01)
    +responsiveVideo(media.videoNatalie, videoAttrInlineVideo)
  .core__photos__dmitry.parallax.appear(data-appear-visibility=0.01)
    +responsiveVideo(media.videoDmitry, videoAttrInlineVideo)
  .core__photos__interior2