section.core__work-with-us
  .internal-link.cmp(data-url=baseUrl + 'contact',data-cursor='hi')
    .marquee.cmp(data-speed=2)
      .marquee__content
        +translation('core.work-with-us.brutal')
    .marquee.cmp(data-speed=-2)
      .marquee__content
        +translation('core.work-with-us.brutal')