svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 292 182' style='enable-background:new 0 0 292 182;' xml:space='preserve')
  g
    path(d='M2.3,181.2c-0.2-1.2-0.3-3.1-0.3-5.7c0-8.9,3.4-16.2,10.2-22c6.8-5.7,15.5-8.6,26.3-8.6\
    c2.1,0,5.7,0.2,10.9,0.5c5.2,0.3,8.7,0.5,10.4,0.5c17.8,0,30.9-9.9,39.3-29.6c3.8-8.7,8.5-15.4,14.1-20s13.5-6.9,23.6-6.9\
    c1.2,0,4.6,0.1,10.3,0.4s9.1,0.4,10.3,0.4c9.4,0,16.7-2.1,21.8-6.2c5.1-4.1,9.7-10.6,13.6-19.5c9.1-20.7,23-31.1,41.9-31.1\
    c2.2,0,5.9,0.2,10.9,0.5c5.1,0.3,8.5,0.5,10.4,0.5c10.1,0,18.2-2.7,24.4-8c6.2-5.3,9.3-12,9.3-20c0-2.7-0.1-4.6-0.3-5.7')
