svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 320 320' xml:space='preserve')
  g
    circle(cx='160.2' cy='160' r='158.5')
  g(transform='translate(21.3)')
    path(d='M138.9,1.5L1.9,238h274L138.9,1.5z')
  g(transform='translate(229.582 239.625) rotate(180)')
    path(d='M69.4,2.1l-68,117.5h136L69.4,2.1z')
  g(transform='translate(206.507 319.5) rotate(180)')
    path(d='M46.3,1.5L0,81.5h92.6L46.3,1.5z')
