svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 320 320' xml:space='preserve')
  g
    circle(cx='160' cy='160' r='158.5')
  g(transform='translate(0 47.925)')
    circle(cx='112.3' cy='112.1' r='110.8')
  g(transform='translate(0 80.762)')
    circle(cx='79.6' cy='79.2' r='78.1')
  g(transform='translate(0 103.837)')
    circle(cx='56.6' cy='56.2' r='55.2')
  g(transform='translate(0 119.813)')
    circle(cx='40.3' cy='40.2' r='38.8')
