.contact-options
  .contact-item
    h3
      +translation('navigation.call-us')
    p
      span= texts['opengraph.phone_number']
  .contact-item
    h3
      +translation('navigation.write-us')
    .email
      .email-item yeh
      .email-item.rtl [ta]
      .email-item 17grad
      .email-item.rtl moc
  .contact-item
    h3
      +translation('navigation.meet-us')
    p.address
      span
        +translation('navigation.contact.address.line1')
      span
        +translation('navigation.contact.address.line2')
      span
        +translation('navigation.contact.address.line3')