.imprint
  .container
    h2 Impressum &amp; Datenschutzhinweise
    .column
      h3
        | Herausgeber
        small dieser Website
      p
        strong 17GRAD OHG
        br
        | Kastanienallee 99a,
        br
        | 10435 Berlin
        br
        | Deutschland
      p Tel: +49 30 70238707
      p
        | Geschäftsführer:
        br
        |  Dmitry Monin &amp; Sascha Geerdts
      p
        | Umsatzsteuer-Identifikationsnummer:
        br
        | DE293946120
        br
        | (gemäß &sect; 27 a Umsatzsteuergesetz)
      p
        | Registergericht:
        br
        | Berlin (Charlottenburg) - HRA 52921B
        br
        | Sitz der Gesellschaft: Berlin
      h3 Google Analytics
      p Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (&bdquo;Google&ldquo;). Google Analytics verwendet sog. &bdquo;Cookies&ldquo;, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
      p Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.
      p Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browsersoftware verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.
      p Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
    .column
      h3 Haftung
      p Diese Website wurde mit größter Sorgfalt zusammengestellt. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist jedoch ausgeschlossen. Dies gilt ebenso für alle anderen Websites, auf die mittels eines Hyperlinks verwiesen wird. Wir behalten uns vor, ohne Ankündigung änderungen oder Ergänzungen der bereitgestellten Informationen oder Daten vorzunehmen.
      h3 Urheberrecht
      p Der Inhalt der 17GRAD Website ist urheberrechtlich geschützt. Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Wir weisen daraufhin, dass die Bilder auf der Website teilweise dem Urheberrecht Dritter unterliegen können.
      h3 Facebook
        small Social Plugins
      p Unser Internetauftritt verwendet Social Plugins (&quot;Plugins&quot;) des sozialen Netzwerkes facebook.com, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird (&quot;Facebook&quot;). Die Plugins sind mit einem Facebook Logo oder dem Zusatz &quot;Facebook Social Plugin&quot; gekennzeichnet.
      p Wenn Sie eine Webseite unseres Internetauftritts aufrufen, die ein solches Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden.
      p Durch die Einbindung der Plugins erhält Facebook die Information, dass Sie die entsprechende Seite unseres Internetauftritts aufgerufen haben. Sind Sie bei Facebook eingeloggt kann Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den &quot;Gefällt mir&quot; Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert.
      p Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatssphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook.
      p Wenn Sie nicht möchten, dass Facebook über unseren Internetauftritt Daten über Sie sammelt, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts bei Facebook ausloggen.
