extends layout

block styles
  link(rel='stylesheet', href=scriptPath + 'css/view-play.css')
  link(rel='stylesheet', href=scriptPath + 'css/play/article-making-of.css')

block content
  include making-of-content
