include ../mixins/responsive-image
include ../mixins/responsive-video
include ../mixins/top-button
include ../mixins/icon
include ../mixins/translation.pug
+topButton(texts['top-button.project-overview'], 'back', 'active', {'data-direction':'back'})
section.work-detail__info
  h2.appear.fade-in-left
    +translation("xbionic.title.short")
  .info.appear.fade-in-left
    p
      +translation("xbionic.intro.line1")
    p
      +translation("xbionic.intro.line2")
  .fact-sheet
    .fact-sheet__item.appear.fade-in-right
      label
        +translation("work.detail.client")
      .fact-sheet__item__value.appear.fade-in-down
        +translation("xbionic.client")
    .fact-sheet__item.appear.fade-in-right
      label
        +translation("work.detail.expertise")
      div.fact-sheet__item__value.appear.fade-in-down
        +translation("xbionic.expertise")
    .fact-sheet__item.appear.fade-in-right
      label
        +translation("work.detail.challenge")
      p.fact-sheet__item__value.appear.fade-in-down
        +translation("xbionic.challenge")
section.work-detail__showcase.media-grid
  .mg-item.mg50.mg-primary-color.no-text.appear.fade-in-left(data-appear-duration=5000)
    img(src=scriptPath + 'svg/work-xbionic/colors-xbionic.svg',width=900,height=900)
  .mg-item.mg50.mg-secondary-color.no-text.appear.fade-in-right(data-appear-duration=5000)
    img(src=scriptPath + 'svg/work-xbionic/x-bionic-typo.svg',width=900,height=900)
  .mg-item.mg100.appear.fade-in-down(data-appear-duration=5000)
    +responsiveVideo(media.xBionic01Startpage, {
      loop: true,
      autoplay: true,
      muted: true,
      crossorigin: true,
      playsinline: true,
      'data-lazyload': 'false'
    })
  .mg-item.mg100.appear.fade-in-left(data-appear-duration=5000)
    +responsiveVideo(media.xBionic02ListviewCycling, {
      loop: true,
      autoplay: true,
      muted: true,
      crossorigin: true,
      playsinline: true,
      'data-lazyload': 'false'
    })
  .mg-item.mg100.appear.fade-in-right(data-appear-duration=5000)
    +responsiveVideo(media.xBionic03ProductDetailPage, {
      loop: true,
      autoplay: true,
      muted: true,
      crossorigin: true,
      playsinline: true,
      'data-lazyload': 'false'
    })
  .mg-item.mg-full-width.appear.fade-in-down(data-appear-duration=5000)
    +responsiveVideo(media.xBionicLoader, {
      loop: true,
      autoplay: true,
      muted: true,
      crossorigin: true,
      playsinline: true,
      'data-lazyload': 'false'
    })
  .mg-item.mg__long-design.appear.fade-in-left(data-appear-visibility=0.001, data-appear-duration=5000)
    +responsiveImage(media.xBionicStartpageJpg, '56vw', '#{project.name} Start page')
    .mg__long-design__text
      .mg-text-item(style='--position:20%')
      .mg-text-item(style='--position:40%')
      .mg-text-item(style='--position:60%')

