.top-button {
  $break-with-text: 'mobile';
  overflow: hidden;
  font-size: 1rem;
  padding: 1rem;
  @include break($break-with-text) {
    padding: 1rem 1.5rem;
  }

  @include break('tablet') {
    font-size: 1.25rem;
  }

  // @include break('laptop') {
  //   font-size: 1.5rem;
  // }

  .arrow {
    @include break('tablet') {
      margin-left: 0.5rem;
    }
    transition: transform 0.25s ease-in-out;
  }

  &:before {
    display: none;
    @include break($break-with-text) {
      display: block;
    }
    @extend %pseudo-element;
    margin-right: 0.5rem;
    transform: translate(-250%, 0);
    transition: transform 0.25s ease-in-out;
  }

  &:hover {
    &:before {
      transform: translate(0%, 0);
    }

    .arrow {
      transform: translate(250%, 0);
    }
  }

  &[data-direction=back]:hover .arrow {
    display: block;
    transform: rotate(180deg);
  }

  &[data-direction=back]:hover:before {
    display: block;
    transform: translate(-250%, 0)  rotate(180deg);
  }

  .--view-out &,
  &.appear {
    transform: translate(-50%, -50%) scaleX(0);
    .top-button__text {
      opacity: 0;
    }

  }
  &.--appear-in {
    .top-button__text {
      opacity: 1;
      transition: opacity 0.2s 1.25s;
    }
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 0.35s 1s;
  }
}