$color-blue: #4747FE;


$color-corporate-dark: #222;
$color-corporate-blue: $color-blue;
$color-corporate-blue-dark: #2E2E6F;
$color-corporate-white: #F0F0EF;
$color-corporate-black: black;
$color-corporate-gray: #707070;
$color-corporate-gray-light: #aaa;

$color-progressive-white: #ffffff;
$color-progressive-gray: #aaa;
$color-progressive-black: #222;
$color-progressive-gray-dark: #404145;
$color-progressive-blue: $color-blue;
$color-progressive-yellow: #E4EA45;

$color-brutal-pink: #FFA3A3;
$color-brutal-blue: #0C4696;
$color-brutal-yellow: #FFE6A3;
$color-brutal-white: #fff;