$ff-accent: "SaolDisplay";
$ff-default: "Futura";
$ff-light: "Futura-Light";
$ff-bold: "Futura-Heavy";

$ff-syne: 'Syne';
$ff-syne-italic: 'Syne-Italic';

$fw-syne-regular: "wght" 400;
$fw-syne-bold: "wght" 600;
$fw-syne-extra: "wght" 800;