script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "17 Studio",
    "alternateName": "17 Studio",
    "url": "https://www.17grad.com",
    "logo": "",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Berlin, Germany",
      "postalCode": "D-10435",
      "streetAddress": "Kastanienallee 99a"
    },
    "email": "yeh(at)17grad.com",
    "telephone": "+493070238700",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+493070238700",
      "contactType": "sales",
      "areaServed": ["DE","FR","DK","SE","NO","150","154","039","155"],
      "availableLanguage": ["en","German"]
    },
    "sameAs": [
      "https://www.facebook.com/17grad.design",
      "https://twitter.com/17grad",
      "https://www.instagram.com/17_grad/",
      ""
    ]
  }