svg(viewBox="0 0 250 125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve")
  path.bar(d='M 10 125 A 115 115, 0, 0, 1, 240 125', stroke='#000', fill='none')
  path.track(d='M 10 125 A 115 115, 0, 0, 1, 240 125', stroke='#000', fill='none')
